PORT=5001
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/
JWT_SECRET=replace-with-strong-secret
CLIENT_URL=http://localhost:3000
MASTER_DB_NAME=erp_master
DEFAULT_TENANT_DB=erp_demo
TENANT_TEMPLATE_DB=erp_template
CLEAN_DEMO_DATA_ON_BOOT=false
